@import "../../../app.component.scss";

.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 200px;

  .title {
    font-size: $font-size-heading-sm-md;
    font-family: $title-font;
  }

  .table-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-family: $body-font;
    gap: 30px;

    .column {
      text-align: center;

      &.column-name,
      &.column-product,
      &.column-price,
      &.column-quantity,
      &.column-total,
      &.column-actions {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }
  }

  .product {
    display: grid;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 250px;

    margin-bottom: 20px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
      height: 100%;
    }

    .column {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &.column-total {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }

    .product-image {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 10px;
    }

    .product-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0px;

      @media (min-width: 768px) {
        margin-bottom: 16px;
      }
    }

    .product-quantity {
      font-size: 16px;
      color: #333;
      font-weight: bold;
    }

    .product-price {
      font-size: 16px;
      color: #999;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .product-total {
      font-size: 16px;
      color: #333;
      font-weight: bold;
    }
  }

  .total-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    font-family: $body-font;
    font-size: $span-font-size-sm-md;

    .total-label {
      font-weight: bold;
      margin-right: 10px;
      // font-size: $span-font-size-sm-md;
    }

    .total-value {
      font-weight: bold;
      color: #333;
    }
  }

  .buttons-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .cart-button {
    width: 140px;
    background-color: #ff9966;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    justify-items: center;
    align-items: center;
    font-weight: bolder;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    font-family: $title-font;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .menu-button {
    width: 160px;
    background-color: #ff9966;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    justify-items: center;
    align-items: center;
    font-weight: bolder;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    font-family: $title-font;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .material-icons {
    background: transparent;
    border: none;
    color: $span-color;
    cursor: pointer;
  }

  .information {
    font-size: $title-font-size-sm-md;
  }
}
