<div class="cart-page">
  <p class="title">Your Cart</p>
  <div *ngIf="cart.items.length; else emptyCart">
    <div class="table-header">
      <div class="column column-product">Product</div>
      <div class="column column-name">Name</div>
      <div class="column column-price">Price</div>
      <div class="column column-quantity">Quantity</div>
      <div class="column column-total">Total</div>
      <div class="column column-actions">Remove</div>
    </div>
    <div class="product" *ngFor="let data of dataSource">
      <div class="column column-product">
        <img [src]="data.imageSrc" alt="Product Image" class="product-image" />
      </div>
      <div class="column column-name">
        <p class="product-title">{{ data.title }}</p>
      </div>
      <div class="column column-price">
        <p class="product-price">{{ data.price | currency }}</p>
      </div>
      <div class="column column-quantity">
        <button
          class="material-icons"
          (click)="onAddQuantity(data)"
          title="AddMore"
        >
          add
        </button>
        <p class="product-quantity">{{ data.quantity }}</p>
        <button
          class="material-icons"
          (click)="onRemoveQuantity(data)"
          title="AddLess"
        >
          remove
        </button>
      </div>
      <div class="column column-total">
        <p class="product-total">{{ data.price * data.quantity | currency }}</p>
      </div>
      <div class="column column-actions">
        <button
          class="material-icons"
          (click)="onRemoveFromCart(data)"
          title="Remove Product"
        >
          delete
        </button>
      </div>
    </div>
    <div class="total-row">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column total-label">Total:</div>
      <div class="column total-value">
        {{ getTotal(cart.items) | currency }}
      </div>
      <div class="column"></div>
    </div>
    <div class="buttons-section">
      <button class="cart-button" (click)="onClearCart()">Clear All</button>
      <button class="cart-button" (click)="onCheckout()">Go to Checkout</button>
    </div>
  </div>
  <ng-template #emptyCart>
    <div>
      <p class="information">Your cart is empty.</p>
      <button class="menu-button">
        <a routerLink="/menu">Start Shopping</a>
      </button>
    </div>
  </ng-template>
</div>
