@import "../../../app.component.scss";

.footer {
  text-align: center;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
  width: 350px;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
  overflow: hidden;

  @media (min-width: 1024px) {
    align-items: center;
    width: 1150px;
    margin: 0 auto;
    padding-top: 100px;

    .footer-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      gap: 20px;
      padding-bottom: 5px;
    }
  }

  div.footer-links {
    span {
      font-size: 25px;
      font-family: $title-font;
      font-weight: bold;
      color: $heading-color;
      padding: 8px 0px 8px 0px;
    }
    ul {
      list-style: none;
      padding: 8px 0px 8px 0px;
      li {
        a {
          color: $paragraph-color;
          text-decoration: none;
          padding-bottom: 8px;
          font-family: $body-font;
          font-size: 15px;
        }

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }

  .logo {
    font-family: $span-font;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    align-items: center;
    display: flex;
    justify-items: center;
    margin: 0;
    justify-content: center;
  }
  .Logo-img {
    margin-right: 8px;
  }

  .footer-content {
    display: grid;
    gap: 20;
    padding-bottom: 5px;

    .contact-info {
      span {
        font-size: 25px;
        font-family: $title-font;
        font-weight: bold;
        color: $heading-color;
        padding: 8px 0px 8px 0px;
      }

      p {
        color: $paragraph-color;
        text-decoration: none;
        padding-bottom: 8px;
      }

      p.description {
        font-size: 15px;
        font-weight: normal;
        color: $paragraph-color;
      }
      p.phone {
        padding: 0;
      }
    }
  }

  .footer-bottom {
    p {
      color: $paragraph-color;
      text-decoration: none;
      margin-top: 10px;
      font-size: 14px;
      margin-bottom: 10px;
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
    }
  }
  .right-onion {
    position: absolute;
    top: 220px;
    right: 20px;
    transform: rotate(-45deg);
    width: 40px;
  }
  .right-leaf {
    position: absolute;
    bottom: 70px;
    right: -35px;
    transform: rotate(-15deg);
    opacity: 0.2;
    width: 100px;

    @media (min-width: 768px) {
      display: none;
    }
  }
  .left-spinach {
    position: absolute;
    bottom: 100px;
    left: 20px;
    transform: rotate(45deg);
    width: 40px;

    @media (min-width: 1024px) {
      bottom: 40px;
    }
  }
}
