<div class="about-us-container">
    <div class="text-container-about">
      <span>About Us</span>
      <h2>We Provide <img src="../../assets/img/about-sushi-title.png" alt="">
        <br/>Healthy Food</h2>
        <p>Food comes to us from our relatives, whether they 
            have wings or roots. This is how we consider food, 
            it also has a culture. It has a history that passes 
            from generation to generation.</p>
    </div>
    <div class="image-container-about">
      <img src="../../assets/img/about-sushi.png" alt="About Us Image" />
    </div>
    <img src="../../assets/img/leaf-branch-1.png" alt="" width="200" class="right-leaf">
  </div>
  
