<div class="popular-container">
  <span>The Best Food</span>
    <h3>Popular Dishes</h3>
  <div class="cards-container" *ngIf="products">
    <app-product-card
      (addToCart)="onAddToCart($event)"
      [shopService]="shopService"
      [product]="product"
      *ngFor="let product of products.slice(7, 10)"
      [id]="product.id"
      [title]="product.title"
      [subtitle]="product.subtitle"
      [price]="product.price"
      [imageSrc]="product.imageSrc"
      [category]="product.category"
    ></app-product-card>
  </div>
</div>
