<footer class="footer">
    <div class="footer-content">
      <div class="contact-info">
        <div class="logo">
            <img src="../../assets/img/favicon.png" alt="" class="Logo-img">
            <span>Sushi</span>
          </div>
        <p class="description">
            Food for the body is not <br>
            enough. There must be food <br>
            for the soul.
        </p>
      </div>
      <div class="footer-links">
        <h2>Company</h2>
        <ul>
          <li><a href="#!">Menu</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!">Offer</a></li>
          <li><a href="#!">Event</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h2>Information</h2>
        <ul>
          <li><a href="#!">Contact</a></li>
          <li><a href="#!">Orders & Returns</a></li>
          <li><a href="#!">Reservation</a></li>
          <li><a href="#!">List of allergens</a></li>
        </ul>
      </div>
      <div class="contact-info">
        <h2>Address</h2>
        <p class="address">1234 1st Ave<br>Seattle, WA 98101</p>
        <p class="phone">999-888-444</p>
      </div>
      <div class="back-to-top">
        <a href="#top">
         
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2023 | Bartosz Jarzyło | All Rights Reserved
      </p>
      <p class="policy">
        Privacy Policy | Terms & Conditions | Cookie Policy
      </p>
    </div>
  </footer>
  
