<nav>
  <div class="navbar">
    <div class="logo">
      <img src="../../assets/img/favicon.png" alt="" class="Logo-img" />
      <span>Sushi</span>
    </div>
    <div class="pages">
      <ul class="menu-items" [ngClass]="{ open: isMenuOpen }">
        <li class="menu-item">
          <a routerLink="/">Home</a>
        </li>
        <li class="menu-item">
          <a routerLink="/menu" routerLinkActive="active">Menu</a>
        </li>
        <li class="menu-item">
          <a routerLink="/Reservation">Reservation</a>
        </li>
        <li class="menu-item">
          <a routerLink="/Contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="menu">
      <app-cart></app-cart>
      <div class="menu-icon" (click)="toggleMenu()">
        <span class="material-icons">menu</span>
      </div>
    </div>
  </div>
</nav>
