@import "../../app.component.scss";

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  padding-top: 40px;
  justify-items: center;
  align-items: center;
  max-width: 1260px;
  margin: auto;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .header {
    h1 {
      margin-bottom: 10px;
    }
    img {
      width: 9%;
    }
  }

  .image-container {
    img {
      width: 70%;
      max-width: 100%;
    }
  }

  .description {
    width: 260px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 0px;
  }

  .order-button {
    width: 160px;
    background-color: #ff9966;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    justify-items: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bolder;
    margin-top: 30px;
  }
}
