<div class="grid-container">
  <img src="../../assets/img/leaf-branch-2.png" alt="" width="80" class="left-leaf">
  <div class="image-container">
    <img src="../../assets/img/home-sushi-rolls.png" alt="" width="200" />
  </div>
  <div class="header">
    <h1>
      Enjoy Delicious <br /><img
        src="../../assets/img/home-sushi-title.png"
        alt=""
      />
      Sushi Food
    </h1>
    <div class="description">
      <p>
        Enjoy a good dinner with the best dishes in the restaurant and improve
        your day.
      </p>
    </div>
    <div class="button">
      <button class="order-button">Order Now</button>
    </div>
  </div>
  <img src="../../assets/img/leaf-branch-4.png" alt="" width="200" class="right-leaf">
</div>
