<nav>
  <div class="navbar">
    <div class="logo">
      <img src="../../assets/img/favicon.png" alt="" class="Logo-img" />
      <span>Sushi</span>
    </div>
    <div class="pages">
      <ul class="menu-items" [ngClass]="{ open: isMenuOpen }">
        <img
          src="../../assets/img/leaf-branch-4.png"
          alt="leaf"
          width="80"
          class="left-leaf"
        />
        <img
          src="../../assets/img/leaf-branch-3.png"
          alt="leaf"
          width="80"
          class="right-leaf"
        />
        <div class="close-icon" (click)="toggleMenu()">
          <span class="material-icons">close</span>
        </div>
        <li class="menu-item" (click)="toggleMenu()">
          <a routerLink="/">Home</a>
        </li>
        <li class="menu-item" (click)="toggleMenu()">
          <a routerLink="/menu">Menu</a>
        </li>
        <li class="menu-item" (click)="toggleMenu()">
          <a routerLink="/reservation">Reservation</a>
        </li>
        <li class="menu-item" (click)="toggleMenu()">
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="menu">
      <app-cart [cart]="cart"></app-cart>
      <div class="menu-icon" (click)="toggleMenu()">
        <span class="material-icons">menu</span>
      </div>
    </div>
  </div>
</nav>
