@import "../../../app.component.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  padding: 16px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  z-index: 50;
  position: fixed;

  span {
    color: $heading-color;
  }
}

@media (min-width: 768px) {
  .navbar {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .navbar {
    max-width: 1280px;
  }
}

.pages {
  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0 auto;

    .menu-item {
      a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-family: $title-font;

        &:hover,
        &.active {
          color: #ffb366;
        }
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
.Logo-img {
  margin-right: 8px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-items {
  display: flex;
  list-style: none;
  margin: 0;
  // padding: 0;
}

.menu-item {
  margin-left: 16px;
  font-size: 16px;
  color: #000000;
}

@media (max-width: 768px) {
  .logo {
    font-size: 20px;
  }

  .menu {
    position: relative;
  }

  .menu-icon {
    display: block;
    margin-left: 16px;
    font-size: 24px;
    color: #000000;
  }

  .menu-items {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $background-color;
  }

  .menu-items.open {
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 50;
  }

  .menu-item {
    margin: 12px 0;
  }

  .close-icon {
    align-self: flex-end;
    cursor: pointer;
  }

  .open .close-icon {
    display: block;
  }
}

.left-leaf {
  position: absolute;
  top: 30px;
  left: -25px;
  transform: rotate(170deg);
  opacity: 0.2;

  @media (min-width: 1024px) {
    display: none;
  }
}

.right-leaf {
  position: absolute;
  bottom: 30px;
  right: -10px;
  transform: rotate(-30deg);
  opacity: 0.2;
  width: 50px;

  @media (min-width: 1024px) {
    display: none;
  }
}

.close-icon {
  @media (min-width: 1024px) {
    display: none;
  }
}
