<div class="menu-container">
  <p class="title">Our Menu</p>
  <app-products-header
    (showCategory)="onShowCategory($event)"
  ></app-products-header>
  <div>
    <div class="cards-container">
      <app-product-cart
        (addToCart)="onAddToCart($event)"
        [shopService]="shopService"
        [product]="product"
        *ngFor="let product of products"
        [id]="product.id"
        [title]="product.title"
        [subtitle]="product.subtitle"
        [price]="product.price"
        [imageSrc]="product.imageSrc"
        [category]="product.category"
      ></app-product-cart>
    </div>
  </div>
</div>
