<div class="shoping-icon" (click)="toggleCart()">
  <span class="material-icons">shopping_cart</span>
  <div *ngIf="cart.items.length" class="cart-items-count">
    {{ itemsQuantity }}
  </div>
</div>
<div
  *ngIf="cart.items.length"
  class="cart-overlay"
  [ngClass]="{ open: isCartOpen }"
>
  <div class="cart">
    <div class="close-icon" (click)="closeCart()">
      <span class="material-icons">close</span>
    </div>
    <p class="your-cart">Your Cart: {{ itemsQuantity }}</p>
    <div *ngFor="let item of cart.items" class="cart-item">
      <img [src]="item.imageSrc" alt="Product Image" />
      <p class="title">{{ item.title }}<span><br>x{{ item.quantity }}</span></p>
      <p class="price">{{ item.price | currency }}</p>
    </div>
    <hr class="line">
    <p class="total">Total: {{ getTotal(cart.items) | currency }}</p>
    <hr class="line">
    <div *ngIf="cart.items.length" class="buttons">
    <button class="cart-button" (click)="closeCart()">
      <a routerLink="/cart">Go to Cart</a>
    </button>
      <button (click)="onClearCart()" class="cart-button">
        Clear Cart
      </button>
  </div>
  <div *ngIf="!cart.items.length">
    <p>Your cart is empty.</p>
    <button class="cart-button" (click)="closeCart()">
      <a routerLink="/menu"> Start Shopping</a>
    </button>
  </div>
</div>
</div>
