@import "../../../app.component.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 260px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  height: 350px;

  img {
    width: 220px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
  }

  .content {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: $heading-color;
  }

  p.subtitle {
    font-size: 15px;
    margin: 0;
  }

  p.price {
    font-size: 16px;
    color: #e68a00;
    font-weight: bold;
  }

  .cart-icon {
    background: #e68a00;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    bottom: 18px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .material-icons {
    margin: 0;
    font-size: 20px;
    color: white;
  }
}
