<div class="newsletter-container">
    <div class="image-container">
      <img src="../../assets/img/newsletter-sushi.png" alt="Newsletter Image" />
    </div>
    <div class="content-container">
      <div class="text-container">
        <h2>Newsletter
        </h2>
        <p>Subscribe For <br>
            Offer Updates.</p>
      </div>
      <div class="form-container">
        <input type="email" placeholder="Enter email" />
        <button>Subscribe</button>
      </div>
    </div>
  </div>
  
