// Importowanie czcionek, jeśli jest taka potrzeba
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lora:wght@600&family=Poppins:wght@300&display=swap');

// Zdefiniowanie zmiennych
$font-size-heading-sm-md: 34px;
$font-size-heading-lg: 70px;
$heading-color: black;
$background-color: #fff2e6;
$paragraph-color: #996633;
$span-color: #ffb366;
$body-font: 'Poppins', sans-serif;
$title-font: 'Lora', serif;
$span-font: 'Dancing Script', cursive;
$title-font-size-sm-md: 25px;
$span-font-size-sm-md: 22px;
$body-font-size-sm-md: 15px;
$title-font-size-lg: 32px;
$span-font-size-lg: 32px;
$body-font-size-lg: 18px;