// Importowanie czcionek, jeśli jest taka potrzeba
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Zdefiniowanie zmiennych
$primary-color: #ff0000;
$secondary-color: #0000ff;
$font-size-heading: 34px;
$font-size-paragraph: 25px;
$background-color: #fff2e6;
$heading-color: black;
$paragraph-color: #996633;

// Stylizacja
* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: $background-color;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 350px;
  // max-width: 1280px;
  margin: auto;

  @media (min-width: 768px) {
    width: 100%;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: $font-size-heading;
  $heading-color: black;
}

p {
  font-size: $font-size-paragraph;
  color: $paragraph-color;
}

@media (min-width: 768px) {
  $font-size-heading: 45px;
  $font-size-paragraph: 18px;
}