<div class="recently-container">
    <div class="text-container">
      <h1>Recently Added</h1>
      <h2>Sushi Samurai <br>
        Salmón Cheese <img src="../../assets/img/spinach-leaf.png" alt=""></h2>
      <p>Take a look at what's new. And do not deprive 
        yourself of a good meal, enjoy and be happy.</p>
        <div class="button">
            <button class="order-button">Order Now <span class="material-icons">
              arrow_forward
              </span></button>
            
          </div>
    </div>
    <div class="image-container">
      <img src="../../assets/img/recently-salmon-sushi.png" alt="Recently Image" width="200" />
    </div>
  </div>
  