<div class="recently-container">
  <div class="text-container-recently">
    <span>Recently Added</span>
    <h4>
      Sushi Samurai <br />
      Salmón Cheese <img src="../../assets/img/spinach-leaf.png" alt="" />
    </h4>
    <p>
      Take a look at what's new. And do not deprive yourself of a good meal,
      enjoy and be happy.
    </p>
    <div class="button">
      <button class="order-button">
        Order Now
      </button>
    </div>
  </div>
  <div class="image-container-recently">
    <img
    src="../../assets/img/recently-salmon-sushi.png"
    alt="Recently Image"
    width="200"
    />
  </div>
  <img src="../../assets/img/leaf-branch-2.png" alt="" width="80" class="left-leaf">
</div>
