@import "../../app.component.scss";

.recently-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  padding-bottom: 80px;
  margin: 0;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;
    max-width: 1260px;
  }

  .text-container-recently {
    h4 {
      margin-top: 8px;
      margin-bottom: 20px;
    }
    p {
      width: 375px;
      margin: 0;
    }
    img {
      width: 5%;
      transform: rotate(30deg);
      margin-left: 10px;
    }
    .order-button {
      width: 160px;
      background-color: #ff9966;
      height: 50px;
      border: none;
      border-radius: 30px;
      font-size: 18px;
      justify-items: center;
      align-items: center;
      color: whitesmoke;
      font-weight: bolder;
      margin-top: 40px;
    }
  }

  .image-container-recently {
    img {
      width: 60%;
      margin-top: 40px;

      @media (min-width: 768px) {
        width: 70%;
      }
    }
  }
  .left-leaf {
    position: absolute;
    bottom: 280px;
    left: -7px;
    opacity: 0.2;
  }
}
