@import "../../../app.component.scss";

.recently-container {
  display: grid;
  grid-template-columns: 1fr;
  // gap: 20px;
  text-align: center;
  padding-bottom: 80px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    max-width: 1000px;
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    max-width: 1260px;
    margin: 0 auto;
  }

  .container-width {

    @media (min-width: 768px) and (max-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 400px;
      max-width: 1000px;
    }

    @media (min-width: 1024px) {
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    }
  }

  .text-container-recently {
    h4 {
      margin-top: 8px;
      margin-bottom: 20px;
    }
    p {
      width: 350px;
      margin: 0 auto;
    }
    img {
      width: 5%;
      transform: rotate(30deg);
      margin-left: 10px;
    }
    .order-button {
      width: 160px;
      background-color: #ff9966;
      height: 50px;
      border: none;
      border-radius: 30px;
      font-size: 18px;
      justify-items: center;
      align-items: center;
      color: whitesmoke;
      font-weight: bolder;
      margin-top: 40px;

      a {
        text-decoration: none;
        color: whitesmoke;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      text-align: center;

      h4 {
        font-size: $title-font-size-lg;
      }

      p {
        font-size: $body-font-size-lg;
      }
      span {
        font-size: $span-font-size-lg;
      }
    }
  }

  .image-container-recently {
    img {
      width: 60%;
      margin-top: 40px;
      transform: rotate(-20deg);
    }
    @media (min-width: 768px) {
      width: 300px;
      img {
        width: 100%;
      }
    }
    @media (min-width: 1024px) {
      width: 550px;
      img {
        width: 80%;
      }
    }
  }
  .left-leaf {
    position: absolute;
    bottom: 280px;
    left: -7px;
    opacity: 0.2;

    @media (min-width: 768px) and (max-width: 1024px) {
      top: 150px;
    }

    @media (min-width: 1024px) {
      width: 130px;
      left: -7px;
    }
  }

  .right-leaf {
    position: absolute;
    bottom: 100px;
    right: -1px;
    transform: rotate(-25deg);
    opacity: 0.2;
    width: 50px;

    @media (min-width: 768px) and (max-width: 1024px) {
      top: 100px;
    }

    @media (min-width: 1024px) {
      transform: rotate(-25deg);
      right: 0px;
      width: 70px;
      top: 150px;
    }
  }
}
