<div class="recently-container">
  <div class="container-width">
  <div class="text-container-recently">
    <span>Recently Added</span>
    <h4>
      Teriyaki Chicken Bowl<br />
      Our Special <img src="../../assets/img/spinach-leaf.png" alt="" />
    </h4>
    <p>
      Exquisite dish with grilled chicken in teriyaki sauce, served on sushi rice with vegetables and pickled ginger.
    </p>
      <button class="order-button">
        <a routerLink="/menu">Order Now</a>
      </button>
  </div>
  <div class="image-container-recently">
    <img
      src="../../assets/img/teriaki.png"
      alt="Recently Image"
      width="200"
    />
  </div>
  <img
    src="../../assets/img/leaf-branch-2.png"
    alt=""
    width="80"
    class="left-leaf"
  />
  <img
          src="../../assets/img/leaf-branch-3.png"
          alt="leaf"
          width="80"
          class="right-leaf"
        />
</div>
</div>
