@import './app/app.component.scss';

body {
    margin: 0;
    padding: 0;
    width: 380px;
    
    margin: auto;
  
    @media (min-width: 768px) {
      width: 100%;
      max-width: 1280px;
    }
  }


  // Stylizacja
* {
  text-align: center;
  background: $background-color;
  box-sizing: border-box;

  p {
    font-family: $body-font;
    font-size: $font-size-paragraph;
  color: $paragraph-color;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
  }

  span {
    font-family: $subtitle-font;
  }

}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: $font-size-heading;
  $heading-color: black;
}

.subtitle {
  font-size: 25px;
}
